apiVersion: krew.googlecontainertools.github.com/v1alpha2
kind: Plugin
metadata:
  name: kubectl-unmount
spec:
  version: "v0.1.0"
  platforms:
  - selector:
      matchLabels:
        os: linux
        arch: amd64
    uri: https://github.com/dancavallaro/kubectl-unmount/releases/download/v0.1.0/kubectl-unmount_linux_amd64.tar.gz
    sha256: ""
    files:
    - from: "./kubectl-unmount"
      to: "."
    - from: LICENSE
      to: "."
    bin: "kubectl-unmount"
  - selector:
      matchLabels:
        os: darwin
        arch: amd64
    uri: https://github.com/dancavallaro/kubectl-unmount/releases/download/v0.1.0/kubectl-unmount_darwin_amd64.tar.gz
    sha256: ""
    files:
    - from: "./kubectl-unmount"
      to: "."
    - from: LICENSE
      to: "."
    bin: "kubectl-unmount"
  - selector:
      matchLabels:
        os: windows
        arch: amd64
    uri: https://github.com/dancavallaro/kubectl-unmount/releases/download/v0.1.0/kubectl-unmount_windows_amd64.zip
    sha256: ""
    files:
    - from: "/kubectl-unmount.exe"
      to: "."
    - from: LICENSE
      to: "."
    bin: "kubectl-unmount.exe"
  shortDescription: A new plugin
  homepage: https://github.com/dancavallaro/kubectl-unmount
  caveats: |
    Usage:
      $ kubectl unmount

    For additional options:
      $ kubectl unmount --help
      or https://github.com/dancavallaro/kubectl-unmount/blob/v0.1.0/README.md

  description: |
    This is a new plugin
