name: test
on: [push]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: 1.25
      - name: Install dependencies
        run: go get ./...
      - name: Build
        run: go build -v ./...
      - name: Run tests
        run: go test -v ./...